.risk-calculator {
  
    .risk-calculator--header {
      display: flex;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
      h3 {
        margin: 0;
      }
    }
    
    .risk-calculator--button {
      margin-top: 10px;

      @media screen and (min-width: 40em) {
        margin-top: 0px;
      }
    }
    
    .risk-calculator--table {
  
      @media screen and (max-width: 48em) {
        position: relative;
      }

      .desktop-header {
        @media screen and (max-width: 48em) {
          position: absolute;
          left: 0;
          bottom: -62px;
        }
      }

      th {
        padding: 10px;
      }

      input { 
        margin: 0;
      }
      td {
        padding: 8px;
      }
      .small-col {
        width: 13%;
      }
      .mid-col {
        width: 18%;
      }
      .large-col {
        width: 33%;
      }
  
      .risk-calculator--row {
        padding: 5px 0;
         & > div {
          display: flex;
          align-items: center;
          padding: 0 3px;
         }
      }
    }
  
    .risk-calculator--recommended {
      position: absolute;
      width: calc(100% - #{8px * 2});
      border: 1px solid black;
      border-radius: 5px;
      vertical-align: top;

      @media screen and (max-width: 48em) {
        top: 460px;
        height: 250px;
        width: 70%;
        left: 0;

        .spacer {
          height: 18rem;
        }
      }

      @media screen and (min-width: 48em) {
        position: relative;
        border: 1px solid #f1f1f1;
      }

        .risk-calculator--recommended-item {
          margin-top: 10px;
          margin-left: 5px;
          font-size: 0.9rem;
        }

      .risk-calculator--recommended-error {
        margin: 10px 5px;
      }
    }
  }